.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    border: 10px solid blue;
    width: 33%;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 500;
}

.col * {
    padding-top: 40px;
}